<%= render @company %>
<div>
  
  <p>
    <strong>Games:</strong>
    <%@company.games.each do |game| %>
      <%= link_to game.name, game %>
    <%end%>
  </p>
  <%= link_to "Back", companies_path, class: "button button--subtle" %>

</div>
